.body1 {
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #002458;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 84px;
    box-shadow: 0 2px 4px 0 #E6F0FF;
    /* border: 2px solid red; */
}

.navBox {
    /* border: 2px solid rgb(13, 255, 0); */
    width: 100%;
    max-width: 1520px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10.75%;
}

.imgBox {
    width: 200.73px;
    height: 60px;
}

.imgBox img {
    width: 100%;
    height: 100%;
}

.rightNavBox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* display: none; */
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    text-decoration: none;
    gap: 48px;
}

.closeIcon {
    width: 24px;
    height: 24px;
    display: none;
}

.menuCheckbox {
    display: none;
}

.menuIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: none;
}

.menuCheckbox:checked~.rightNavBox {
    display: flex;
    flex-direction: column;
    background-color: #E6F0FF;
    position: absolute;
    top: 100px;
    right: 0px;
    width: 100%;
    height: 100vh;
    z-index: 3;
    transition:  all 0.3s ease;
}

.menuCheckbox:checked~.rightNavBox .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 70vw; */
    width: 100%;
    gap: 20px;
    margin-top: 50px;
    /* height: 60vh; */
    border: 1px solid red;
}

.menuCheckbox:checked~.rightNavBox .closeIcon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 1120px) {

    .imgBox {
        width: 150.73px;
    }

    .navigation {
        gap: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .imgBox {
        width: 110.73px;
    }

    .navigation {
        gap: 15px;
    }

}

@media only screen and (max-width: 600px) {
    .rightNavBox {
        display: none;

    }
    .closeIcon{
        display: block;
    }

    .menuIcon {
        display: block;
    }
    .navigation {
        gap: 15px;
    }

}