.heading2 {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #002458;
}

.heading5 {
  font-size: 24px;
  line-height: 36px;
  color: #002458;
}

.body1 {
  font-size: 18px;
  line-height: 27px;
  color: #767a78;
}

.container {
  max-width: 1520px;
  min-height: 702px;
  gap: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 120px auto 0px auto;
}

.upperContainer {
  width: 100%;
  height: 72px;
}

.lowerContainer {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  width: 474.67px;
  height: 438px;
  border-radius: 20px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}

.image {
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0px 0px;
}

.description {
  width: 100%;
  height: 188px;
  padding: 20px;
  gap: 12px;
}

.btn {
  font-size: 22px;
  line-height: 26.4px;
  color: #0056d2;
  cursor: pointer;
  gap: 60px;
  width: 174px;
  height: 60px;
  border: 2px solid #0056d2;
  border-radius: 168px;
  text-align: center;
  margin-top: -4%;
}

.pagination {
  max-width: 395px;
  gap: 12px;
  display: flex;
  align-items: center;
}

.page {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.visibility {
  display: none;
}

@media only screen and (max-width: 500px) {
  .heading2 {
    font-size: 24px;
    line-height: 36px;
  }

  .heading5 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600 !important;
  }

  .body1 {
    font-size: 14px;
    line-height: 21px;
    color: #767a78;
  }

  .container {
    max-width: 335px;
    min-height: 1216px;
    gap: 32px;
    margin: 60px auto 60px auto;
  }

  .upperContainer {
    width: 100%;
    height: 36px;
  }

  .lowerContainer {
    width: 100%;
    min-height: 1148px;
  }

  .content {
    width: 335px;
    height: 341px;
    border-radius: 12px;
  }

  .image {
    width: 100%;
    height: 198px;
    border-radius: 12px 12px 0px 0px;
  }

  .description {
    width: 100%;
    height: 143px;
    padding: 16px;
    gap: 8px;
  }

  .btn {
    font-size: 14px;
    line-height: 21px;
    gap: 10px;
    width: 146px;
    height: 44px;
    text-align: center;
    border: 1px solid #0056d2;
  }
}
