.heading2 {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #002458;
}

.box {
  width: 90%;
  max-width: 1196px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 120px auto;
  gap: 60px;
}

.upperBox {
  width: 100%;
  height: auto;
}

.downBox {
  width: 100%;
  height: auto;
  /* border-radius: 20px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.ml {
  flex: 1;

  /* border: 2px solid purple; */
}

.img1 {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.img2 {
  max-width: 40%;
  /* max-height: 90%; */
  position: absolute;
  top: 20px;
  left: 20px;
  object-fit: contain;
}

@media only screen and (max-width: 380px) {
  .box {
    width: 90%;
    max-height: 479px;
    margin: 60px auto;
    gap: 32px;
    
  }

  .downBox {
    width: 100%;
    height: auto;
    position: relative;

    padding: 10px;

    
  }

  .img1 {
    width: 100%;
    height: auto;
    border-radius: 12px;
    /* margin-bottom: 16px; Space between img1 and img2 */

  }
  
  .img2 {
    /* max-width: 50%; */
    width: 65%;
    max-width: 335px;
    /* max-width: 311px; */
    /* height: auto; */
    /* max-height: 90%; */
    /* position: absolute;
    left: 50%; */
    transform: translatex(-50%);
    left: 50%;
    border-radius: 10px;
    object-fit: contain;
    margin-top: 50px;
  }
}
